body {
  padding-top: 50px;
  padding-bottom: 5px;
}

@supports(padding: max(0px)) {
    .container {
        padding-left: max(15px, env(safe-area-inset-left));
        padding-right: max(15px, env(safe-area-inset-right));
    }
}

.navbar {
  opacity: 0.95;
}

a.navbar-brand {
  font-weight: bold;
}

.jumbotron {
  margin: 0;
}

@media (min-width:768px) {
  .text-right-responsive {
    text-align:right;
  }
}

.experience-buffer {
  margin-bottom: 10px;
}

.spacing-fix {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #2c3e50;
  text-decoration: none;
}

.icon-stack {
  vertical-align: -18%;
}
